.settingsContainer {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.section {
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section button[type="button"] {
    background-color: whitesmoke;
    color: #666060;
}

.section button[type="button"]:hover {
    background-color: whitesmoke;
}

.section img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.deleteButton {
    background-color: #dc3545;
}

.deleteButton:hover {
    background-color: #c82333;
}

.errorMessage {
    color: red;
}
